# IAR Settings  
**/settings/*.crun  
**/settings/*.dbgdt  
**/settings/*.cspy  
**/settings/*.cspy.*  
**/settings/*.xcl  
**/settings/*.dni  
**/settings/*.wsdt  
**/settings/*.wspos  
**/settings/*.dnx
**/settings/*.reggroups

# IAR Debug Exe  
**/Exe/*.sim  
**/Exe/*.out
**/Exe/*.bin
**/Exe/*.hex
**/Exe/*.i

**/List/*.map

# IAR Debug Obj  
**/Obj/*.pbd  
**/Obj/*.pbd.*  
**/Obj/*.pbi  
**/Obj/*.pbi.*
**/Obj/*.o
**/Obj/*.xcl
**/Obj/*.pbw

*.dep
*.ewt

# IAR log
**/Obj/*ninja*
